.item {
  display: flex;
  align-items: center;
}
.btn {
  margin-left: 10px;
  padding: 10px;
  /* width: 60px; */
  /* height: 30px; */
  border-radius: 10%;
  background-color: rgb(151, 106, 79);
  box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.btn:hover {
  transform: scaleX(1.2);
  transition: box-shadow 0.5s, transform 0.5s;
  background-color: aqua;
  color: rgb(236, 10, 10);
}
