.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10%;

  margin: 15px;
  padding: 10px;
  width: 300px;
  background-color: rgb(109, 194, 168);
}
.label {
  display: flex;
  flex-direction: column;

  margin-left: 30px;
  margin-bottom: 30px;
  width: 150px;
}
.button {
  margin-left: 30px;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  box-shadow: 10px 5px 10px -5px rgba(97, 72, 72, 0.3);
  cursor: pointer;
}
.title {
  margin-left: 50px;
  position: relative;
  transform: translateY(0);
  transition: transform 1s;

  color: rgb(128, 6, 81);
}
.title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  height: 8px;
  width: 100%;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translate(-50%, 0);
  transition: transform 1s;
}
.title:hover {
  transform: translateY(-40px);
  transition: transform 1s;
}
.title:hover::after {
  transform: translate(-50%, 40px) scale(0.75);
  transition: transform 1s;
}
