.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10%;

  margin: 15px;
  padding: 10px;
  width: 300px;
  background-color: rgb(109, 194, 168);
}
.label {
  display: flex;
  flex-direction: column;

  margin-left: 30px;
  margin-bottom: 30px;
  width: 150px;
}
.button {
  margin-left: 30px;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  box-shadow: 10px 5px 10px -5px rgba(97, 72, 72, 0.3);
  cursor: pointer;
}
.title {
  margin-left: 50px;
}
