body {
  background-color: rgb(6, 171, 177);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(13, 175, 108);
  width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10%;
}

.active {
  color: crimson;
}

.App-header {
  padding: 0 20px;
  background-color: #282c34;
  min-height: 60px;
  display: flex;
  justify-content: space-between;

  gap: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}
.home {
  margin-right: 10px;
}
.login {
  margin-left: 10px;
}
